body,html{	
	
/*	background-image: url("./images/projektor.jpg");*/
/*	background-color: darkslategray;*/
/*	background-repeat: no-repeat;*/
/*	background-position: center;*/
/*	background-size: cover;*/
/*	width: 100%;*/
/*	height: 100%;*/
	margin: 0px;
	padding: 0px;
}

.parallax {
  /* The image used */
    background-image: url("../images/projektor.jpg");

  /* Set a specific height */
    min-height: 300px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
/*	background-attachment: scroll;*/
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
	  
    background-attachment: scroll;
  }
}

#slika{
	
    padding: 300px;
    width: 1550px;
/*	margin: 100px;*/
/*	background-color: darkgrey;*/
    height: 70px;	
}

#content{
    background-image: url("../images/naslovna2.jpg");
    min-height: 350px;
    height: 850px;
    /*height: auto;*/
    background-color: #c8dad3;
    
      min-height: 300px; 

  /* Create the parallax scrolling effect */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result{
/*    height: 700px;*/
    
}
#home{
	
    background-color: #f8f8f8;
    height: 100%;
}

#jumbo{
	
    margin: 0;
    background-color: #89a3b2;
}

a:hover{
	
    color: #b2d3be !important;
}

#usersearch{
	
/*	padding: 30px;*/
/*	width: 800px;*/
/*	margin: 100px;*/
/*	background-color: darkgrey;*/
	height: 70px;	
}

#collapse1{
    background-color: #c8dad3;
}
.card-header{
    background-color: aqua;
}
#collapseTwo{
    background-color: black;
/*	color: white;*/
}
#heading2{
    background-color: gray;
}
#admin{
/*	background-color: cadetblue;*/
    height: 700px;
    width: 100%;
}
#apanel{
    width: 100%;
    background-color: azure;
    height: 100%;
}

.card-body{
    background-color: #252525;
}
.row{
    width: 100%;
}
#traka{
    background-image: url("../images/traka2.jpg");
    
}

#stage {
    background-color: gray;
}


.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
   
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
